MONGODB_URI=mongodb://localhost:27017/wareon
SECRET_ACCESS_TOKEN=your_secret_access_token
ACCESS_TOKEN_EXPIRY=900
SECRET_REFRESH_TOKEN=your_secret_refresh_token
REFRESH_TOKEN_EXPIRY=604800
SALT_ROUNDS=12
